<h1 class="text-3xl font-bold mb-3 text-center">Riset Dosen Lab Mikroprosesor dan Lab Robotika Cerdas</h1>
<h2 class="text-lg mb-8 text-center">Gedung A8 Lantai 4 Fakultas Teknik UNESA</h2>

<div class="grid grid-cols-1 md:grid-cols-3 gap-6">
<?php foreach ($dosens as $id => $d): ?>
    <a href="dosen.php?id=<?= $id ?>" class="bg-white p-6 rounded-xl shadow hover:scale-105 transition text-center">

        <img src="<?= $d['foto'] ?>"
            alt="Foto <?= $d['nama'] ?>"
            class="w-25 h-40 mx-auto mb-4 object-cover object-top">

        <h2 class="text-xl font-semibold"><?= $d['nama'] ?></h2>
        <!-- <p class="text-gray-500"><?= $d['bidang'] ?></p> -->
    </a>
<?php endforeach; ?>
</div>
